<center>
  <h1>Recipe Box</h1>
  <h3><span class="motto">this is your personal, online recipe book</span></h3>
  <br>
  <div class="jumbotron">
<!-- <h3>this is your personal, online recipe book -->
<br>
Search by:
<br>
</h3>
<a href="/recipes/name">Name</a>
<br>
<a href="/recipes/cat">Category</a>
<br>
<a href="/recipes/ingredient">Ingredient</a>
<br>
<a href="recipe/new">Add a new recipe</a>
</center>
</div>
