<center>
<div class="page-header">
<h1>Recidex <small>Gotta cook 'em all!</small></h1>
</div>
<h3>This is your online recipe book!
<br>
Search by:
<br>
</h3>
<a href="/recipes/name">Name</a>
<br>
<a href="/recipes/cat">Category</a>
<br>
<a href="/recipes/ingredient">Ingredient</a>
<br>
<a href="recipe/new">Add a new recipe</a>
</center>
