<div class="index-body">
    <h3>Add as many recipes as you'd like.
    <br>
    <br>
    <button type="button" class="btn btn-default"><a href="/recipe/new">Add New Recipe</a></button>
    <br>
    <br>
    <br>
    You can search recipes by name, category or ingredients.
    <br>
    <br>
    <button type="button" class="btn btn-default"><a href="/recipes/name">Name</a></button>
    <button type="button" class="btn btn-default"><a href="/recipes/cat">Category</a></button>
    <button type="button" class="btn btn-default"><a href="/recipes/ingredient">Ingredient</a></button>
    <br>
    </h3>
</div>
