<form action="/recipes" method="post">
  <div class="form-group">
    <label for="recipe_name">Recipe name:</label>
    <input id="recipe_name" name="recipe_name" class="form-control" type="text" placeholder="e.g. Pikachu's Popcorn Balls">
  </div>

  <div class="form-group">
    <label for="description">Add a description:</label>
    <input id="description" name="description" class="form-control" type="text" placeholder="e.g. These delightfully easy and nutritious snacks are great for all pokemon!">
  </div>

  <div class="form-group">
    <label for="instructions">Instructions:</label>
    <br>
    <textarea name="instructions" rows="8" cols="40"></textarea>
  </div>
  <br>
  <br>
  <center><button type="submit" class="btn btn-default">Next Step</button></center>
</form>
<br>
<a href="/">Back</a>
