a {
  text-decoration: none;
  color: #474747;
}


body {
  text-align: center;
  font-family: 'Cabin', sans-serif;
  color: #474747;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/../img/spices.jpg");
  width: 100%;
  height: 100%;
  opacity : 0.75;
  z-index: -1;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbotron {
  opacity: 0.85;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


h1 {
  color: white;
  font-size: 800%;
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
  font-family: 'Lobster', cursive;
}

.motto {
  font-family: 'Lobster', cursive;
  font-size: 150%;
  padding-top: -50%;
  color: #474747;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.recipe-info {
  font-size: 150%;
}
